@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h4>Attach @Html.DisplayFor(model => model.TreatName) a flavor</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<a href='@Url.Action("Index")'>
    <button type="button">Back to List</button>
</a>