@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Editing @Html.DisplayFor(model => model.TreatName)</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Updated Treat Name") 
  <br>
  @Html.EditorFor(model => model.TreatName)
  <p>@Html.ValidationMessageFor(model => model.TreatName, "", new { @class = "text-danger" })</p> 

  <input type="submit" value="Save" />
}

<a href='@Url.Action("Index")'>
    <button type="button">Back to List</button>
</a>