@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h4>Attach @Html.DisplayFor(model => model.FlavorName) to a treat</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}

<a href='@Url.Action("Index")'>
    <button type="button">Back to List</button>
</a>