@{
  Layout = "_Layout";
}

@using PierresTreats.Models
@model PierresTreats.Models.Flavor

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayName("Flavor Name"): @Html.DisplayFor(model => model.FlavorName)</h3>

@if (Model.JoinEntities.Count == 0)
{
  <p>This flavor does not have any associated treats attached to it.</p>
}
else
{
  <h4>Current treats attached:</h4>
  <ul>
    @foreach (FlavorTreat join in Model.JoinEntities)
    {
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        <li>
          @join.Treat.TreatName
          @Html.Hidden("joinId", join.FlavorTreatId)
          <input class="delete" type="submit" value="Delete" />
        </li>
      }
    }
  </ul>
}

@if (@ViewBag.Treats.Count == 0)
{
  <a href="">
    <button type="button" disabled="">No treats to assign</button>
  </a>
}
else
{
  <a href='@Url.Action("AddTreat", new { id = Model.FlavorId })'>
    <button type="button">Attach a Treat</button>
  </a>
}

<a href='@Url.Action("Delete", new { id = Model.FlavorId })'>
    <button type="button">Delete Flavor</button>
</a>
<a href='@Url.Action("Edit", new { id = Model.FlavorId })'>
    <button type="button">Edit Flavor</button>
</a>